#owl {
	width: 34px;
	height: 47px;
	margin-left: 40px;
	margin-top: 9px;
}
.display-inline-block {
	display: inline-block;

}



.menu{
	margin-left: 370px;
	    position: absolute;
    top: 28px;
}
.menu li{
	margin-right: 30px;

}
.search {
	margin-left: 323px;
}
.login {
	margin-left: 29px;
	
}


#background_image{
	
	width: 100%;
	margin-top: -120px;
}



#mimartuleba{
	margin-left: 38px;
	position: relative;
	top: 33px;
	color: #478ECC;
	text-decoration: none;
	font-size: 28px;
}
#mimartuleba:visited{
  color:#478ECC;
}