#owl {
	width: 34px;
	height: 47px;
	margin-left: 40px;
	margin-top: 9px;
}
.display-inline-block {
	display: inline-block;

}



.menu{
	margin-left: 370px;
	position: absolute;
	top: 28px;
}
.menu li{
	margin-right: 30px;

}
.search {
	margin-left: 323px;
}
.login {
	margin-left: 29px;
	
}


#background_image{
	
	width: 100%;
	margin-top: -120px;
}


#p100{
	font-size: 21px;
	color: #787E86;
	margin-top: 174px;
	margin-left: 496px;
}
#p110{
	font-size: 21px;
	color: #478ECC;
	margin-top: 174px;
	margin-left: 604px;
}

#lb{
	width: 280px;
	height: 40px;
	border-radius: 7px;
	font-size: 14px;
	border-style: solid;
	border-color: #DCE1ED;
	padding-left: 14px;
	margin-left: 503px;
	margin-top: 39px;
}
#lb1{
	width: 280px;
	height: 40px;
	border-radius: 7px;
	font-size: 14px;
	border-style: solid;
	border-color: #DCE1ED;
	padding-left: 14px;
	margin-left: 503px;
	margin-top: 20px;
}
#lb2{
	width: 280px;
	height: 40px;
	border-radius: 7px;
	font-size: 14px;
	border-style: solid;
	border-color: #DCE1ED;
	padding-left: 14px;
	margin-left: 503px;
	margin-top: 20px;
}

#lb3{
	width: 280px;
	height: 40px;
	border-radius: 7px;
	font-size: 14px;
	border-style: solid;
	border-color: #DCE1ED;
	padding-left: 14px;
	margin-left: 503px;
	margin-top: 20px;

}
#lb4{
	width: 280px;
	height: 40px;
	border-radius: 7px;
	font-size: 14px;
	border-style: solid;
	border-color: #DCE1ED;
	padding-left: 14px;
	margin-left: 503px;
	margin-top: 20px;
}
#bt{
	width: 100px;
	height: 40px;
	border-radius: 7px;
	font-size: 12px;
	border-style: solid;
	border-color: #DCE1ED;
	padding-left: 11px;
	color: #715774;
	background-color: #DCE1ED;
	margin-left: 680px;
	margin-top: 40px;
	margin-bottom: 196px;
}

#mimartuleba{
	margin-left: 38px;
	position: relative;
	top: 33px;
	color: #478ECC;
	text-decoration: none;
	font-size: 28px;
}
#mimartuleba:visited{
	color:#478ECC;
}
#img1{
	margin-top: 60px; 
	margin-left: 79px;
}
#div{
	border: 2px solid #DCE1ED;
	border-radius: 15px;
	width: 320px;
	height: 240px;
	margin-left: 480px; 
	margin-top: -246px;
}

#atg100{
	color: #787E86;
	margin-left: 499px;
	text-decoration: none;
	font-size: 21px;
	display: inline-block;
	margin-top: 0px;
}

#sec6{
	margin-top: -663px;
}


#atg110{
	color: #478ECC;
	margin-left: 646px;
	text-decoration: none;
	font-size: 21px;
	display: inline-block;

}


#img100{
	margin-top: -128px;
	width: 100%;
	height: auto;
}

#atg1{
	text-decoration: none;
	color: #715774;
	font-size: 28px;

}
#atg2{
	text-decoration: none;
	color: #787E86;
	font-size: 16px;

}
#atg3{
	text-decoration: none;
	color: #478ECC;

}
#img2{
	margin-left: 878px;
	margin-top: -227px;
}
#p1{
	margin-left: 106px;
	margin-top: 39px;
}
#p2{
	margin-top: 18px;
	margin-left: 54px;
	margin-right: 38px;
	color: #787E86;
}
#p3{
	border-radius: 5px;
	background: #DCE1ED; 
	width: 90px;
	height: 34px; 
	margin-left: 115px;
	margin-right: 114px;
	margin-top: 44px;
	text-align: center;

}
#img3{
	margin-left: 79px;
	margin-top: 73px;
}
#img4{
	margin-left: 81px;
}
#img5{
	margin-left: 81px;
}
#leqciebi{
	margin-left: 40px;
	position: relative;
	top: 35px;
	color: #478ECC;
	text-decoration: none;
	font-size: 28px;
}

.p6{
	width: 233px;
	height: 15px;
	font-size: 14px;
	color: #787E86;
}
#img6{
	margin-left: 79px;
	margin-top: 79px;
}
#img7{
	margin-left: 79px;
	margin-top: 104px;
}
#img8{
	margin-left: 79px;
	margin-top: 104px;
}
#img9{
	margin-left: 79px;
	margin-top: 104px;
}
#img10{
	margin-left: 79px;
	margin-top: 104px;
}
#img11{
	margin-left: 79px;
	margin-top: 104px;
}
#leqtorebi{
	margin-left: 40px;
	position: relative;
	top: 42px;
	color: #478ECC;
	text-decoration: none;
	font-size: 28px;
}
#div1{
	background-color: #DCE1ED;
	height: 300px;
	margin-top: 75px;
	
}
.p8{
	color: #787E86;
	font-size: 16px;
}
.p9{
	color: #715774;
	font-size: 16px;
}


#img12{
	margin-left: 159px;
	margin-top: 31px;
}
#img13{
	margin-left: 45px;
	margin-top: 31px;
}
#img14{
	margin-left: 45px;
	margin-top: 31px;
}
#img15{
	margin-left: 45px;
	margin-top: 31px;
}
#p21{
	margin-left: 166px;
}
#p22{
	margin-left: 166px;
}
#p23{
	margin-left: 52px;
}
#p24{
	margin-left: 52px;
}
#p25{
	margin-left: 52px;
}
#p26{
	margin-left: 52px;
}
#p27{
	margin-left: 52px;
}
#p28{
	margin-left: 52px;
}
#p29{
	margin-left: 52px;
}
#atg4{
	margin-left: 40px;
	position: relative;
	top: 42px;
	color: #478ECC;
	text-decoration: none;
	font-size: 28px;
}
#p30{
	color: #787E86;
	margin-top: 74px;
	font-size: 18px;
	margin-left: 40px;
}
.p31{
	font-size: 18px;
	color: #715774;
	margin-left: 13px;
}

#atg5{
	margin-left: 40px;
	position: relative;
	top: 42px;
	color: #478ECC;
	text-decoration: none;
	font-size: 28px;

}
.div2{
	background-color: #DCE1ED;
	width: 13px;
	height: 11px;
	margin-left: 79px;
	margin-top: 9px;
	border-radius: 2px;
}
#p33{
	margin-top: 38px;
	font-size: 18px;
	color: #715774;

}

form{
	margin-top: 80px;
	margin-left: 76px;
}
#inp{
	width: 560px;
	height: 40px;
	border-style: solid;
	border-color: #DCE1ED;
	border-radius: 10px;
	padding-left: 12px;
	margin-left: 79px;
	margin-top: 78px;
}
#inp2{
	width: 560px;
	height: 40px;

	border-style: solid;
	border-color: #DCE1ED;
	border-radius: 10px;
	margin-top: 19px;
	padding-left: 12px;
	margin-left: 79px;
}
#inp3{
	width: 560px;
	height: 100px;
	margin-top: 19px;
	border-style: solid;
	border-color: #DCE1ED;
	border-radius: 10px;
	padding-left: 12px;	
	margin-left: 79px;
}
#inp4{
	margin-top: 19px;
	color: #715774;
	width: 84px;
	height: 30px;
	border-style: solid;
	border-color: #DCE1ED;
	border-radius: 7px;
	margin-left: 493px;
}
#img50{
	width: 100%;
	height: 64px;
	margin-top: 40px;
}